.header {
  margin: 10px;
  .header-1 {
    margin: 10px;
  }
}

.main-class {
  margin: 10px;
}

.item-total {
  padding : 0 20px;
}

.item-container {
  margin : 16px;
  .image-container {
    height:  180px;
  }
  .item-des {
    height : 280px;
  }
}


